---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Dimensions
$max-content-width: {{ site.max_width }};

@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill"
;

.post-title .download-pdf {
  font-size: 16px; // Adjust the font size as needed
  margin-top: 10px; // Add some space above the link
}
